{% extends 'base.html.twig' %}

{% block title %}Edit TechImage{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Edit TechImage</h1>

        {{ include('tech_image/_form.html.twig', {'button_label': 'Обновить'}) }}

        <a class="btn btn-primary btn-sm mb-2" href="{{ path('tech_image_index') }}">Назад к списку</a>

        {{ include('tech_image/_delete_form.html.twig') }}
    </div>
{% endblock %}
