{% extends 'base.html.twig' %}

{% block title %}New TechImage{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Create new TechImage</h1>

        {{ include('tech_image/_form.html.twig') }}

        <a class="btn btn-primary btn-sm" href="{{ path('tech_image_index') }}">Назад к списку</a>
    </div>
{% endblock %}
