{% extends 'base.html.twig' %}


{% block title %}О компании "АГРО-ТЕХ" - Ростовская область{% endblock %}

{% block h1 %}О компании "АГРО-ТЕХ"{% endblock %}

{% block mainSlider %}
    <img src="{{ asset('assets/img/content/o-kompanii/01.jpg') }}" alt="" class="scale-with-grid mb-50px">
{% endblock %}
{% block content %}
    <div class="info-box light gradient no-border mb-35px">
        <p class="middle-font-size remove-bottom">
            ООО "АГРО-ТЕХ" было создано с целью удовлетворения потребностей отечественных сельхозпроизводителей в надежной и практичной технике, в настоящее время это - успешно развивающаяся компания с внушительным опытом работы в производственной и строительной сфере.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Основные сферы деятельности ООО "АГРО-ТЕХ" на данном этапе развития:
        </p>
    </blockquote>

    <ul class="check-list colored mb-35px">
        <li>производство широкого модельного ряда опрыскивателей, разбрасывателей удобрений, техники для обработки почвы и прочего сельскохозяйственного оборудования и инвентаря;</li>
        <li>возведение каркасных и бескаркасных арочных сооружений для различных отраслей промышленности и сельского хозяйства.
        </li>
    </ul>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Изучение передовых европейских технологий позволяет значительно сократить цикл внедрения инженерных разработок, обеспечив при этом высокое качество продукции.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Опираясь на зарубежный опыт предприятие создает столь же качественные, недорогие и адаптированные к российским реалиям отечественные аналоги сельскохозяйственной техники.
        </p>
    </blockquote>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Взвешенная ценовая политика,  высокая надежность и производительность,  и, как следствие - хорошая окупаемость, делают продукцию компании востребованной на всей территории России и стран ближнего зарубежья.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Все предлагаемые машины сертифицированы,  во многих из них используются собственные запатентованные разработки.
        </p>
    </blockquote>

    <div class="info-box light gradient no-border mb-35px">
        <p class="middle-font-size remove-bottom">
            Предприятие непрерывно развивается наращивая производство. При этом расширение ассортимента продукции происходит как за счет собственных ресурсов, так и благодаря тесному сотрудничеству с крупнейшими мировыми производителями сельхозтехники.
        </p>
    </div>

    <p class="middle-font-size mb-35px">
        Начиная с 2014 года ООО "АГРО-ТЕХ" импортирует  машины для очистки почвы от древесно-кустарниковой растительности (мульчеры),  технику для измельчения корней (ротоваторы),  системы прикорневой обработки,  оборудование  для сушки зерновых, масличных и зернобобовых культур, а также широкий модельный ряд сеялок различного типа.
    </p>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Одновременно с производственным,  происходит активное развитие строительного направления компании, так с 2007 года более чем в два раза возросло количество возводимых металлоконструкций.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            На данный момент предприятием построено свыше 1000 ангаров и навесов арочного типа - в Ростове-на-Дону, по Ростовской области и в других регионах России.
        </p>
    </blockquote>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            В среднем за год возводится около 80 арочных сооружений. Среди них как бескаркасные металлические, так и каркасные тентовые конструкции.
        </p>
    </div>

    <p class="middle-font-size mb-35px">
        Основное преимущество арочных строений по сравнению с другими типами зданий - в оптимальном сочетании стоимости, времени возведения и удобства эксплуатации постройки.
    </p>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Представленное компанией многообразие различных металлических и каркасно-тентовых сооружений позволяет клиентам подобрать наиболее подходящий тип для хранения продукции и техники.
        </p>
    </blockquote>

    <div class="info-box light gradient no-border mb-35px">
        <p class="middle-font-size remove-bottom">
            На сегодняшний день компания насчитывает более 120 сотрудников. Они задействованы как на  производстве, так и в строительстве. Одновременно в сооружении быстровозводимых арочных конструкций занято до 15 рабочих бригад.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Сотрудники ООО "АГРО-ТЕХ" отличаются большим производственным опытом и высоким профессиональным уровнем.
        </p>
    </blockquote>

    <div class="info-box colored-1 rounded mb-35px">
        <p class="middle-font-size remove-bottom">
            Административное управление компанией и разработка проектов поручены группе ведущих инженеров, имеющих уникальный опыт работы в ТАНТК им. Бериева.
        </p>
    </div>

    <p class="middle-font-size mb-35px">
        Гордостью предприятия также является одна из лучших в России группа производственных аналитиков.
    </p>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Профессиональный подход ООО "АГРО-ТЕХ" приносит реальную выгоду агропромышленному сектору, что позволяет организовывать сотрудничество на постоянной основе в различных регионах России.
        </p>
    </blockquote>

    <div class="info-box light gradient no-border mb-35px">
        <p class="middle-font-size remove-bottom">
            За время своего существования предприятие получило огромный опыт работы с клиентами, приобрело многолетний опыт проектирования, производства и строительства различных видов быстровозводимых конструкций, внесло неоценимый вклад в разработку и внедрение новейшей сельхозтехники.
        </p>
    </div>

    <blockquote class="mb-35px">
        <p class="dark-black remove-bottom">
            Компания имеет десятки фирм-партнеров как на территории России, так и в странах ближнего и дальнего зарубежья.
        </p>
    </blockquote>

    <p class="middle-font-size mb-35px">
        ООО "АГРО-ТЕХ" уже на протяжении длительного времени является одним из наиболее заметных производителей на рынке сельскохозяйственной техники.
    </p>

    <div class="info-box colored-1 rounded">
        <p class="middle-font-size remove-bottom">
            Качество и приемлемая цена продукции компании давно известна как малым фермерским хозяйствам, так и крупнейшим в России агрохолдингам.
        </p>
    </div>
{% endblock %}