{% extends 'base.html.twig' %}

{% set bodyClass = 'leasing' %}

{% block title %}О компании "АГРО-ТЕХ" - Ростовская область{% endblock %}

{% block h1 %}
    <h2 class="text-center bg-primary text-white line-height-18 my-3">
        О компании "АГРО-ТЕХ"
    </h2>
{% endblock %}

{% block content %}
    <div class="row p-3 m-0">
        <div class="row p-3 m-0 text-justify">
            <img src="{{ asset('assets/img/content/o-kompanii/01.jpg') }}" class="img-fluid mx-auto pb-3" alt="О компании АГРО_ТЕХ">

            <p>
                ООО "АГРО-ТЕХ" было создано с целью удовлетворения потребностей отечественных
                сельхозпроизводителей в надежной и практичной технике, в настоящее время это - успешно
                развивающаяся компания с внушительным опытом работы в производственной и строительной сфере.
            </p>

            <p>
                Основные сферы деятельности ООО "АГРО-ТЕХ" на данном этапе развития:
            </p>

            <ul>
                <li>производство широкого модельного ряда опрыскивателей, разбрасывателей удобрений, техники для
                    обработки почвы и прочего сельскохозяйственного оборудования и инвентаря;
                </li>
                <li>возведение каркасных и бескаркасных арочных сооружений для различных отраслей промышленности
                    и сельского хозяйства.
                </li>
            </ul>

            <p>
                Изучение передовых европейских технологий позволяет значительно сократить цикл внедрения
                инженерных разработок, обеспечив при этом высокое качество продукции.
            </p>

            <p>
                Опираясь на зарубежный опыт предприятие создает столь же качественные, недорогие и адаптированные
                к российским реалиям отечественные аналоги сельскохозяйственной техники.
            </p>

            <p>
                Взвешенная ценовая политика,  высокая надежность и производительность,  и, как следствие -
                хорошая окупаемость, делают продукцию компании востребованной на всей территории России и стран
                ближнего зарубежья.
            </p>

            <p>
                Все предлагаемые машины сертифицированы,  во многих из них используются собственные
                запатентованные разработки.
            </p>

            <p>
                Предприятие непрерывно развивается наращивая производство. При этом расширение ассортимента
                продукции происходит как за счет собственных ресурсов, так и благодаря тесному сотрудничеству
                с крупнейшими мировыми производителями сельхозтехники.
            </p>

            <p>
                Начиная с 2014 года ООО "АГРО-ТЕХ" импортирует  машины для очистки почвы от древесно-кустарниковой
                растительности (мульчеры),  технику для измельчения корней (ротоваторы),  системы прикорневой
                обработки,  оборудование  для сушки зерновых, масличных и зернобобовых культур, а также широкий
                модельный ряд сеялок различного типа.
            </p>

            <p>
                Одновременно с производственным,  происходит активное развитие строительного направления компании,
                так с 2007 года более чем в два раза возросло количество возводимых металлоконструкций.
            </p>

            <p>
                На данный момент предприятием построено свыше 1000 ангаров и навесов арочного типа -
                в Ростове-на-Дону, по Ростовской области и в других регионах России.
            </p>

            <p>
                В среднем за год возводится около 80 арочных сооружений. Среди них как бескаркасные металлические,
                так и каркасные тентовые конструкции.
            </p>

            <p>
                Основное преимущество арочных строений по сравнению с другими типами зданий - в оптимальном
                сочетании стоимости, времени возведения и удобства эксплуатации постройки.
            </p>

            <p>
                Представленное компанией многообразие различных металлических и каркасно-тентовых сооружений
                позволяет клиентам подобрать наиболее подходящий тип для хранения продукции и техники.
            </p>

            <p>
                На сегодняшний день компания насчитывает более 120 сотрудников. Они задействованы как
                на производстве, так и в строительстве. Одновременно в сооружении быстровозводимых арочных
                конструкций занято до 15 рабочих бригад.
            </p>

            <p>
                Сотрудники ООО "АГРО-ТЕХ" отличаются большим производственным опытом и высоким профессиональным уровнем.
            </p>

            <p>
                Административное управление компанией и разработка проектов поручены группе ведущих инженеров,
                имеющих уникальный опыт работы в ТАНТК им. Бериева.
            </p>

            <p>
                Гордостью предприятия также является одна из лучших в России группа производственных аналитиков.
            </p>

            <p>
                Профессиональный подход ООО "АГРО-ТЕХ" приносит реальную выгоду агропромышленному сектору,
                что позволяет организовывать сотрудничество на постоянной основе в различных регионах России.
            </p>

            <p>
                За время своего существования предприятие получило огромный опыт работы с клиентами, приобрело
                многолетний опыт проектирования, производства и строительства различных видов быстровозводимых
                конструкций, внесло неоценимый вклад в разработку и внедрение новейшей сельхозтехники.
            </p>

            <p>
                Компания имеет десятки фирм-партнеров как на территории России, так и в странах ближнего и дальнего зарубежья.
            </p>

            <p>
                ООО "АГРО-ТЕХ" уже на протяжении длительного времени является одним из наиболее заметных
                производителей на рынке сельскохозяйственной техники.
            </p>

            <p>
                Качество и приемлемая цена продукции компании давно известна как малым фермерским хозяйствам,
                так и крупнейшим в России агрохолдингам.
            </p>

        </div>
    </div>
{% endblock %}