{% extends 'base.html.twig' %}
{% block title %}Контактные данные ООО АГРО-ТЕХ{% endblock %}
{% block h1 %}Контактные данные{% endblock %}
{% block content %}
    <p class="psevdo_h2">
        Офис в Таганроге
    </p>
    <p>
        347939, Россия, Ростовская область, Таганрог, ул. Пархоменко, 19.
    </p>
    <p class="large-font-size  mb-10px">
        +7 (8634) 32-32-13, 38-80-74, 38-74-87, 36-34-09, 43-13-34
    </p>

    <p class="mb-30px">
        <span class="small-font-size">Электронная почта:</span>
        <a href="mailto:mail@agro-teh.su" target="_blank"> mail@agro-teh.su </a>
    </p>



    <noscript><div class="mb-50px"></div></noscript>

    <p class="mb-30px">
        Подпишитесь на нас: &nbsp;&nbsp; <a href="https://vk.com/agro_tech_taganrog" target="_blank"><i class="fab fa-vk fa-3x" style="color: #597da3"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://www.youtube.com/channel/UCFQtfrqxmxUxfuGm7MrFM_g" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
    </p>


    <noscript><div class="hidden"></noscript>
    <!-- Map -->
    <div class="yandex-map mb-20px bx_shadow">
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=o8Kax8kPnbvBIgBSGO7in_xeBQBw3p6U&width=100%&height=400&lang=ru_RU&sourceType=constructor"></script>
    </div>


    <p class="large-font-size  mb-20px">
        Схема проезда
    </p>

    <section class="toggle mb-70px">
        <div class="toggle-trigger"><a href="#"><p>Офис ООО "АГРО-ТЕХ" в Таганроге</p></a></div>
        <div style="display: none;" class="toggle-container">
            <div class="content">
                <p>
                    347939, Россия, Ростовская область,
                    <br />
                    Таганрог, улица Пархоменко, дом 19 <a href="{{ asset('assets/img/map.png') }}" data-rel="prettyPhoto" title="Схема расположения офиса компании"> (расположение).</a>
                </p>
                <p>
                    Предложенный <a href="http://maps.yandex.ru/-/CVbWzW9b" target="_blank">маршрут</a>
                    предполагает движение по объездной дороге с въездом со стороны Мариупольского шоссе.
                </p>
                <p>
                    На легковом автомобиле также будет удобен
                    <a href="http://maps.yandex.ru/-/CVbWzS-V" target="_blank">
                        маршрут</a>, пролегающий через Николаевское шоссе.
                </p>
            </div>
        </div>
        <div class="toggle-trigger"><a href="#"><p>Производственная база ООО "АГРО-ТЕХ"</p></a></div>
        <div style="display: none;" class="toggle-container">
            <div class="content">
                <p>
                    347939, Россия, Ростовская область,
                    <br />
                    Таганрог, Мариупольское шоссе, 71 (переулок 21-й Мариупольский).
                </p>
                <p>
                    Расстояние от перекрестка с круговым движением до поворота
                    на переулок 21-й Мариупольский составляет 4,5 км.
                </p>
                <p>
                    По <a href="http://maps.yandex.ru/-/CVbWzN7C" target="_blank">
                        пути следования</a>
                    находится заправочная станция (справа), от нее 250 метров,
                    после чего поворот направо.
                </p>
            </div>
        </div>
    </section>
    <noscript></div></noscript><!-- /hidden-->

    <p class="psevdo_h2">
        Офис в Ростове-на-Дону
    </p>

    <p>
        344093, Россия, Ростовская область, Ростов-на-Дону, ул. Травяная, 26.
    </p>
    <p class="large-font-size  mb-25px">
        +7 (928) 212-22-19, 778-92-80
    </p>

    <blockquote class="mb-100px">
        <p class="dark-black remove-bottom">
								<span class="small-font-size">
									Офисное помещение по адресу:&nbsp; ул. Травяная, 26 -  <span class="colored-text-2"> временно находится на реконструкции!</span>
								</span>
        </p>
        <p class="small-font-size dark-black remove-bottom">
								<span class="small-font-size">
									Контактные телефоны работают в штатном режиме. Звоните!
								</span>
        </p>
    </blockquote>


    <h2 class="mb-10px">Ростовская область</h2>

    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Зерноградский район
    </p>
    <p>
        п. Экспериментальный, ул. Придорожная, 47а
    </p>
    <p class="mb-20px">
        +7 (928) 155-25-30<br />
        +7 (86359) 6-36-73, 6-36-75, 6-37-18, 4-07-50, 4-07-49
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Кагальницкий район
    </p>
    <p>
        п. Мокрый Батай, ул. Зеленая, 9
    </p>
    <p class="mb-20px">
        +7 (928) 756-80-03, 035-19-44
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Аксайский район
    </p>
    <p>
        х. Ленина. (1084-й км автомагистрали М-4 Дон-2)
    </p>
    <p class="mb-70px">
        +7 (863) 210-06-90, 210-06-85, +7 (928) 908-05-03, +7 (928) 103-22-22
    </p>

    <h2 class="mb-10px">Краснодарский край</h2>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Краснодар
    </p>
    <p>
        ул. Круговая, 54
    </p>
    <p class="mb-20px">
        +7 (918) 682-06-22, (961) 536-77-82<br />
        +7 (861) 222-78-21, 222-78-24, 222-82-89
    </p>
    <p>
        ул. Уральская, 230
    </p>
    <p class="mb-20px">
        +7 (928) 212-22-19, (928) 928-77-80
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Курганинск
    </p>
    <p>
        шс. Армавирское, 1
    </p>
    <p class="mb-20px">
        +7 (918) 471-33-70<br />
        +7 (86147) 2-93-42, 2-93-43, 2-93-44
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Тимашевск
    </p>
    <p>
        ул. Промышленная, 3а
    </p>
    <p class="mb-20px">
        +7 (918) 345-59-67, 372-88-12, 264-07-19, (928) 207-62-95<br />
        +7 (86130) 4-16-26, 4-17-36, 4-20-38, 4-37-13, 4-17-94
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Тихорецк
    </p>
    <p>
        пос. Парковый, промзона 25
    </p>
    <p class="mb-20px">
        +7 (918) 289-22-99, 536-12-98, (928) 044-43-44
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Темрюкский район
    </p>
    <p>
        х. Белый, ул. Гаражная, 1
    </p>
    <p class="mb-20px">
        +7 (918) 028-64-54<br />
        +7 (861) 220-44-49
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Тбилисский район
    </p>
    <p>
        ст. Тбилисская, ул. Переездная, д.78
    </p>
    <p class="mb-20px">
        +7 (918) 951-47-00, 439-30-30<br />
        +7 (86158) 3-77-32, 3-77-23, 2-64-40, 3-77-07
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Курганинский район
    </p>
    <p>
        ст. Михайловская, ул. Зорько, 4а
    </p>
    <p class="mb-70px">
        +7 (918) 391-14-96, (961) 539-00-21<br />
        +7 (989) 284-95-01, 284-95-02
    </p>

    <h2 class="mb-10px">Ставропольский край</h2>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Ставрополь
    </p>

    <p>
        ул. Батайская, 3
    </p>
    <p class="mb-20px">
        +7 (903) 418-79-31, (928) 630-92-22<br />
        +7 (865) 532-02-66, 532-02-65, 532-02-67, 238-68-27, 238-68-28, 295-83-00, 295-84-00
    </p>

    <p>
        ул. Коломийцева, 39г
    </p>
    <p class="mb-20px">
        +7 (962) 440-09-29, (962) 440-09-24	<br />
        +7 (8652) 40-09-29, 40-09-24
    </p>

    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Шпаковский район
    </p>
    <p>
        с. Верхнерусское, заезд Тупиковый, 4
    </p>
    <p class="mb-20px">
        +7 (968) 271-36-70<br />
        +7 (865) 242-90-50, 242-90-60, 532-03-32, 532-08-30, 233-09-14, 295-38-30, 295-33-32
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Михайловск
    </p>
    <p>
        ул. Никонова, 60
    </p>
    <p class="mb-70px">
        +7 (928) 304-90-50<br />
        +7 (86553) 2-32-51, 2-33-96, 2-30-93
    </p>

    <p class="psevdo_h2 mb-10px">Кабардино-Балкарская республика</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Прохладный
    </p>
    <p>
        ул. Головко, 94
    </p>
    <p class="mb-70px">
        +7 (988) 928-90-06<br />
        +7 (86631) 4-68-23, 4-68-20, 4-68-31, 7-16-85, 4-68-21
    </p>

    <p class="psevdo_h2 mb-10px">Воронежская область</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Воронеж
    </p>
    <p>
        ул. Дорожная 36
    </p>
    <p class="mb-20px">
        +7 (952) 556-17-22<br />
        +7 (473) 272-44-75, 276-30-88, 272-44-60
    </p>
    <hr class="divider-line dotted colored mb-20px">
    <p class="large-font-size colored-text-1">
        Богучарский район
    </p>
    <p>
        с. Дьяченково, ул. Вишневая, 3
    </p>
    <p class="mb-70px">
        +7 (47366) 5-61-41, 2-01-81
    </p>

    <p class="psevdo_h2 mb-10px">Волгоградская область</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Волжский
    </p>
    <p>
        Автодорога №6, строение 6Б
    </p>
    <p class="mb-70px">
        +7 (960) 890-48-88, 890-53-56, (917) 832-95-70<br />
        +7 (8443) 44-55-00, 34-21-66
    </p>

    <p class="psevdo_h2 mb-10px">Липецкая область</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Липецк
    </p>
    <p>
        ул. Агрономическая, 1
    </p>
    <p class="mb-70px">
        +7 (905) 683-49-95, 683-49-98<br />
        +7 (4742) 55-50-87, 55-50-87
    </p>

    <p class="psevdo_h2 mb-10px">Рязанская область</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Старожиловский район
    </p>
    <p>
        пос. Старожилово, ул. Железнодорожная, 18
    </p>
    <p class="mb-70px">
        +7 (960) 572-33-26<br />
        +7 (49151) 2-92-82, 2-99-14, 2-99-27
    </p>

    <p class="psevdo_h2 mb-10px">Орловская область</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Орел
    </p>
    <p>
        шс. Московское, 137
    </p>
    <p class="mb-20px">
        +7 (910) 748-84-67<br />
        +7 (4862) 49-51-77
    </p>
    <p>
        ул. Раздольная, 10а
    </p>
    <p class="mb-70px">
        +7 (920) 088-48-48<br />
        +7 (4862) 76-45-16, 76-12-49, 44-12-44, 44-13-44, 42-22-58
    </p>

    <p class="psevdo_h2 mb-10px">Тамбовская область</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Ржаксинский район
    </p>
    <p>
        рп. Ржакса, ул. Свердлова, 1б
    </p>
    <p class="mb-70px">
        +7 (920) 470-01-05<br />
        +7 (4752) 48-53-67, 48-51-82
    </p>

    <p class="psevdo_h2 mb-10px">Курская область</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Курск
    </p>
    <p>
        ул. Магистральный пр-д, 18т
    </p>
    <p class="mb-70px">
        +7 (908) 125-31-42<br />
        +7 (4712) 38-56-70, 77-03-06, 77-03-09
    </p>

    <p class="psevdo_h2 mb-10px">Саратовская область</p>
    <hr class="divider-line colored mb-50px">

    <p class="large-font-size colored-text-1">
        Саратовский район
    </p>
    <p>
        пос. Дубки, пав. 8
    </p>
    <p>
        +7 (903) 338-38-66, (937) 978-49-03
    </p>
{% endblock %}