{% extends 'base.html.twig' %}

{% set bodyClass = 'leasing' %}

{% block title %}Лизинг{% endblock %}

{% block h1 %}
    <h2 class="text-center bg-primary text-white line-height-18 my-3">
        Лизинг АО «Росагролизинг»
    </h2>
{% endblock %}

{% block content %}
    <div class="row p-3 m-0">
        <p>
            АО «Росагролизинг» - эффективный и наиболее приемлемый в сложных экономических условиях институт развития
            российского агропромышленного комплекса, созданный государством, предоставляющий наиболее выгодные условия
            финансирования сделок на приобретение сельскохозяйственных машин и оборудования, линеек оборудования для
            ферм, свиноводческих комплексов, племенных животных (КРС, МРС) по системе федерального лизинга:
        </p>

        <ul>
            <li>
                Срок договора - до 10 лет.*
            </li>
            <li>
                Сумма первоначального взноса – от 7%*.
            </li>
            <li>
                Удорожание в год от закупочной цены – от 2%*.
            </li>
            <li>
                Периодичность платежей - равномерные ежемесячные, квартальные*.
            </li>
            <li>
                При оплате первоначального взноса в размере не менее 20% от общей суммы лизинговых платежей
                в соответствии с условиями лизинговой сделки, вне зависимости от срока лизинга, залоговое обеспечение
                не требуется*.
            </li>
        </ul>

        <div class="alert alert-info" role="alert">
            * По решению кредитного комитета АО "Росагролизинг", исходя из анализа финансово-хозяйственной
            деятельности Заявителя, условия могут быть изменены.
        </div>

        <p>
            Подробнее с информацией о приобретении техники, оборудования и животных в лизинг можно ознакомиться
            на официальном интернет-сайте компании (<a href="https://www.rosagroleasing.ru">www.rosagroleasing.ru</a>),
            либо позвонив в компанию по бесплатному телефону <a href="tel:88002005395">+7 (800) 200-539-5</a>.
        </p>

        <div class="w-100 pb-3">
            <a href="https://www.rosagroleasing.ru/client/services/calc">Лизинговый калькулятор</a> <br>
            <a href="https://www.rosagroleasing.ru/leasing/catalog">Условия по федеральной программе</a>
            <br>
            <a href="https://www.rosagroleasing.ru/client/docs">Перечень документов, необходимых для подачи заявки</a>
            <br>
            <a href="https://www.rosagroleasing.ru/client/faq">Ответы на часто задаваемые вопросы</a>
        </div>

        <p class="w-100">
            Адрес единственного офиса в РФ: 125124, Российская Федерация, Москва, ул. Правды, д.26
        </p>

        <p class="w-100">
            Телефон: 8-800-200-539-5 (по России бесплатно)
        </p>

        <p class="w-100">
            Факс: 8-495-539-539-4
        </p>

        <p class="w-100">
            По вопросам федерального лизинга - info@rosagroleasing.ru
        </p>

        <div class="alert alert-warning" role="alert">
            <strong>Внимание!</strong> Компания АО «Росагролизинг» расположена в Москве и не имеет филиалов,
            операторов и представительств!
        </div>

        <p>
            Порядок приобретения техники и оборудования через АО «Росагролизинг»:
        </p>

        <ul>
            <li>Заявка, копии уставных и финансовых документов, гарантийное обеспечение;</li>
            <li>Кредитный комитет;</li>
            <li>Заключение договора;</li>
            <li>Оплата первоначального взноса;</li>
            <li>Отгрузка техники лизингополучателю и подпись акта приема-передачи;</li>
            <li>Расчеты по договору в течение срока лизинга;</li>
            <li>Переход оборудования в собственность лизингополучателя.</li>
        </ul>
    </div>
{% endblock %}