{% extends 'base.html.twig' %}

{% set bodyClass = 'services' %}

{% block title %}Услуги оказываемые ООО АГРО-ТЕХ{% endblock %}

{% block h1 %}
    <h2 class="text-center bg-primary text-white line-height-18 my-3">
        Обработка металла
    </h2>
{% endblock %}

{% block content %}
    <div class="row p-3 m-0">
        <h3>ООО "Агро-Тех" оказывает услуги по обработке металла. Опытные мастера на точных станках
            выполнят следующие виды работ:</h3>

        <div class="w-100">
            <h3 class="text-info"><strong>Лазерная резка металла</strong></h3>

            <ul>
                <li>отсутствие механического контакта - подходит для хрупких и легко деформирующихся материалов;</li>
                <li>подходит для твердых сплавов;</li>
                <li>высокая скорость резки тонколистовой стали;</li>
                <li>малая погрешность при раскрое материала по чертежу</li>
                <!--<li>удобство работы с файлами рисунка из любой чертежной программы</li>-->
            </ul>
        </div>

        <div class="w-100">
            <h3 class="text-info"><strong>Плазменная резка металла</strong></h3>
            <ul>
                <li>высокая производительность и экономия времени;</li>
                <li>высокое качество резки;</li>
                <li>отсутствие тепловой деформации;</li>
                <li>универсальность - подходит для разных металлов;</li>
                <li>безопасность процесса</li>
            </ul>
        </div>

        <div class="w-100">
            <h3 class="text-info"><strong>Токарные и фрезерные работы</strong></h3>
        </div>
    </div>
{% endblock %}