{% extends 'base.html.twig' %}

{% block title %}Edit SparePartsImage{% endblock %}

{% block body %}
    <h1>Edit SparePartsImage</h1>

    {{ include('spare_parts_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spare_parts_image_index') }}">back to list</a>

    {{ include('spare_parts_image/_delete_form.html.twig') }}
{% endblock %}
