{% extends 'base.html.twig' %}

{% block title %}New SparePartsImage{% endblock %}

{% block body %}
    <h1>Create new SparePartsImage</h1>

    {{ include('spare_parts_image/_form.html.twig') }}

    <a href="{{ path('spare_parts_image_index') }}">back to list</a>
{% endblock %}
