{% extends 'base.html.twig' %}

{% block title %}Edit TechCategory{% endblock %}

{% block body %}
    <h1>Edit TechCategory</h1>

    {{ include('tech_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tech_category_index') }}">back to list</a>

    {{ include('tech_category/_delete_form.html.twig') }}
{% endblock %}
