{% extends 'base.html.twig' %}

{% block title %}New TechCategory{% endblock %}

{% block body %}
    <h1>Create new TechCategory</h1>

    {{ include('tech_category/_form.html.twig') }}

    <a href="{{ path('tech_category_index') }}">back to list</a>
{% endblock %}
