{% extends 'base.html.twig' %}

{% block title %}Edit Costumer{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Edit Costumer</h1>

        {{ include('costumer/_form.html.twig', {'button_label': 'Обновить'}) }}

        <a class="btn btn-primary btn-sm mb-2" href="{{ path('costumer_index') }}">Назад к списку</a>

        {{ include('costumer/_delete_form.html.twig') }}
    </div>
{% endblock %}
