{% extends 'base.html.twig' %}

{% block title %}New Costumer{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Create new Costumer</h1>

        {{ include('costumer/_form.html.twig') }}

        <a class="btn btn-primary btn-sm mt-2" href="{{ path('costumer_index') }}">Назад к списку</a>
    </div>
{% endblock %}
