{% extends 'base.html.twig' %}

{% block title %}Edit Angar{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Edit Angar</h1>

        {{ include('angar/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="mb-2 btn btn-primary btn-sm" href="{{ path('angar_index') }}">Назад к списку</a>

        {{ include('angar/_delete_form.html.twig') }}
    </div>
{% endblock %}
