{% extends 'base.html.twig' %}

{% block title %}New Angar{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Create new Angar</h1>

        {{ include('angar/_form.html.twig') }}

        <a class="btn btn-primary btn-sm mb-2" href="{{ path('angar_index') }}">Назад к списку</a>
    </div>
{% endblock %}
