.callback {
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 1em;
}

/*.helpfull-info {
    background-color: rgba(255, 255, 255, 0.50);
}*/

.articleIndex {
    min-height: 250px;
    max-height: 250px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;*/

}

article .card-body {
    /*display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;*/
    padding: 0!important;

}
.loader {
    position: absolute;
    background: white;
    width: 100%;
    z-index: 1000;
    height: 100%;
    text-align: center;
}

.btn-animation {
    position: relative;
}

.btn-animation::before {
    content: "";
    animation-duration: 0.5s;
    animation-name: animation-circle;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid;
    border-color: deepskyblue transparent transparent transparent;
    border-radius: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes animation-circle {
    0% {transform: rotate(0);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}