/* 
_____________________________________________________________________________________________________________________________________________________

	Многогранники
_____________________________________________________________________________________________________________________________________________________

*/

/* 
_____________________________________________________________________________________________________________________________________________________

	Базовая сетка - 1080px
_____________________________________________________________________________________________________________________________________________________

*/

.mng_row {
	width: 750px;
	display: flex;
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
	flex-wrap: wrap;
}

.column_mng {
    width: 250px;
    float: left;
}
/*.column_mng:nth-child(2n){
	margin-left: 250px!important;
}*/

/*.column_mng:nth-child(3n+2) {*/
	/*padding-top: 140px!important;*/
/*}*/
/*.column_mng:nth-child(3n+2):before {*/
	/*content: '';*/
	/*position: absolute;*/
	/*margin-top: -110px;*/
	/*width: 250px;*/
	/*height: 130px;*/
	/*background: url("../img/content/_mng/02.png") no-repeat center center;*/

/*}*/
/*.column_mng:nth-child(5):after{*/
	/*content: '';*/
	/*position: absolute;*/
	/*margin-top: 110px;*/
	/*width: 250px;*/
	/*height: 130px;*/
	/*background: url("../img/content/_mng/02.png") no-repeat center center;*/
/*}*/

.polyhedron	{
	width: 250px;
	height: 220px;
	float: left;
}

.polyhedron:hover { opacity: 0.7; }

.small_mng, .small_mng_2 {
	width: 250px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

.description_mng {
	width: 250px;
	height: 80px;
	float: left;
	display: table;
}

.description_table {
	display: table-cell;
	vertical-align: middle;
}

.description_mng p {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin: 0;
}

#model_mng {
	font-weight: 700;
	font-size: 24px;
}
						
#price_mng {
	font-weight: 400;
	font-size: 18px;
}

.fx_01 { margin-top: 10px !important; }
.fx_02, .fx_04 { margin-top: 20px !important; }
.fx_03 { margin-top: 50px !important; }
						
/* 
_____________________________________________________________________________________________________________________________________________________

	Планшеты (в горизонтальном положении) + настольные компьютеры и ноутбуки (с шириной экрана 1024px)
_____________________________________________________________________________________________________________________________________________________

*/

/*
	Версия для 1024px   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _
*/

    @media only screen and (min-width: 960px) and (max-width: 1199px) {


        .column_mng, .polyhedron, .small_mng, .small_mng_2, .description_mng, .column_mng img 
		{
            width: 216.66px;
        }

		.polyhedron {
			height: 190.66px;
		}

		.small_mng img, .small_mng_2 img { width: 175px; }
		#model_mng { font-size: 20px; }
		#price_mng { font-size: 16px; }
		.fx_01 { margin-top: 10px !important; }
		.fx_03 { margin-top: 40px !important; }
	
	}

/* 
_____________________________________________________________________________________________________________________________________________________

	Планшеты (в вертикальном положении)
_____________________________________________________________________________________________________________________________________________________

*/

/*
	Версия для 768px   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _
*/

    @media only screen and (min-width: 768px) and (max-width: 959px) {
		
		.column_mng, .polyhedron, .small_mng, .small_mng_2, .description_mng, .column_mng img 
		{
            width: 165px;
        }

		.polyhedron
		{
			height: 145.19px;
		}

		.small_mng img, .small_mng_2 img { width: 145px; }
		#model_mng { font-size: 16px; }
		#price_mng { font-size: 14px; }
		.fx_01 { margin-top: 10px !important; }
		.fx_03 { margin-top: 30px !important; }
	
    }

/* 
_____________________________________________________________________________________________________________________________________________________

	Мобильный телефон (в горизонтальном положении)
_____________________________________________________________________________________________________________________________________________________

*/

/*
	Версия для 480px   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _
*/

    @media only screen and (min-width: 480px) and (max-width: 767px) 
	
	{
        .small_mng { display: none; }
		.small_mng_2 img { width: 145px; }
		.fx_01 { margin-top: 0px !important; }
		.fx_03 { margin-top: 0px !important; }
		.fx_04 { margin-top: 0px !important; }
		#model_mng { margin-bottom: 10px; }
	}

/* 
_____________________________________________________________________________________________________________________________________________________

	Мобильный телефон (в вертикальном положении)
_____________________________________________________________________________________________________________________________________________________

*/

/*
	Версия для 320px   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _   _
*/

    @media only screen and (max-width: 767px) 

	{

		.pl-33px {
			padding-left: 33.5px;
		}

        .small_mng { display: none; }
		.small_mng_2 img { width: 145px; }
		.fx_01 { margin-top: 0px !important; }
		.fx_03 { margin-top: 0px !important; }
		.fx_04 { margin-top: 0px !important; }
		#model_mng { margin-bottom: 10px; }

	}