{% extends 'base.html.twig' %}

{% block title %}New AngarImage{% endblock %}

{% block body %}
    <h1>Create new AngarImage</h1>

    {{ include('angar_image/_form.html.twig') }}

    <a href="{{ path('angar_image_index') }}">back to list</a>
{% endblock %}
