<form class="mt-2" method="post" action="{{ path('angar_category_delete', {'id': angar_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ angar_category.id) }}">
    <button class="btn btn-danger btn-sm">Удалить</button>
</form>
