{% extends 'base.html.twig' %}
{% block title %}
    История строительства арочных ангаров в России и за рубежом
{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        История арочных ангаров
    </h1>
{% endblock %}
{% block slider %}
    <div class="row">
        <div class="col-sm-12"
             style="background-image: url({{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: center;
                     filter: blur(8px);
                     -webkit-filter: blur(8px);">
            <img style="opacity: 0" src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto">
        </div>
        <img {#style="opacity: 0"#} src="{{ asset('assets/img/content/stroitelstvo-angarov/postroennye/beskarkasnoe-arochnoe-stroitelstvo.jpg') }}" alt="Бескаркасное арочное строительство" class="img-fluid m-auto" style="position: absolute; left: 25%">
    </div>

{% endblock %}
{% block content %}
    <div class="">
        <div class="col-sm-12">
            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Около 50 лет назад ангаром называли специальное сооружение, предназначенное для стоянки, техобслуживания и ремонтных работ авиационной, космической, а также любой другой крупногабаритной техники. В настоящее время ангарами принято считать различные постройки арочного или шатрового типа.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    В их число входят: бескаркасные сооружения, выполненные из металлического профиля (и поликарбоната); каркасные конструкции (обшитые оцинкованным металлическим листом либо покрытые тентом); пневмокаркасные (надувные) объекты.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Технология бескаркасного строительства арочных конструкций впервые была использована в середине прошлого века военными США и до сих пор имеет широкое применение во многих странах мира.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    Начало эпохи арочного строительства было положено в 1949 году, когда некий американский предприниматель (Peter Pedersen) приобрел патент на революционную по тем временам самонесущую конструкцию арочного типа, выполненную из стали. Принципиально новая конструкция могла выдерживать достаточно высокие нагрузки без какой-либо внутренней опоры, поскольку имела вид типовой арки.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Уже в 1950 г. было основано предприятие в Чикаго, которое и начало производить подобные сооружения - "Wonder Building", как окрестили его современники.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Сооружения "Wonder Building" (WB) в настоящее время успешно используются практически во всех странах мира и являются одним из наиболее эффективных способов укрытия. Правообладателем технологии WB является корпорация American Shelter Technologies.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    В 70-ых годах метод арочного строительства получил следующий виток своего развития. В частности, компания Knudson предложила новое направление в развитии бескаркасной технологии, создав ряд оригинальных инженерных решений. Эти технические новации привели в дальнейшем к разработке мобильной платформы, на которой были расположены две линии: формирования панелей и гибки металлических листов методом гофрирования.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    Благодаря этому появилась уникальная и экономически выгодная возможность профилирования негабаритных арок по всей длине уже на самой строительной площадке.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Примерно в это же время была создана уникальная технология установки купола, где за счет закатки швов фальцевого типа при использовании электрической закаточной машины происходило сцепление арок между собой и соединение их в единую герметичную конструкцию. С этого момента технологии арочного строительства начали свое стремительное развитие во всем мире. В начале 80-ых иностранными компаниями был создан ряд модификаций мобильных установок для изготовления арочных модулей.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    Технологические преимущества данного метода по достоинству оценили сначала военные строители, а позже и гражданские строительные компании. Повсеместное применение бескаркасного арочного строительства началось после военной операции "Буря в пустыне".
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Американцы продемонстрировали всему миру как легко и в беспрецедентно короткие сроки благодаря этой технологии можно возводить склады амуниции и продовольствия, авиационные ангары и ангары под автомобильную технику, жилые казармы, разнообразные подсобные помещения и другие военно-технические сооружения в буквальном смысле "на пустом месте" и без наличия мощной строительной базы.
                </p>
            </blockquote>

            <div class="info-box colored-1 rounded mb-35px">
                <p class="middle-font-size remove-bottom">
                    В данное время технология бескаркасного арочного строительства по праву считается наиболее эффективным способом быстрого возведения производственных и складских площадей и не теряет своей актуальности.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    В одной лишь Северной Америке при применении данной технологии было построено большое количество объектов гражданского и промышленного типа, таких как торговые центры, производственные помещения, спортивные сооружения, надстраиваемые мансарды, курортные павильоны и оранжереи, разнообразные декоративные архитектурные элементы, гаражи, мойки, крытые парковки, станции технического обслуживания, офисные помещения, всевозможные сельскохозяйственные склады и многое другое.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    В России технологию строительства бескаркасных сооружений начали применять лишь в 80-х годах, когда попутно с глобальными экономическими реформами на российский рынок попали первые машины западного производства для изготовления арочных профилей.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    Продвижение данной технологии полностью повторило американский сценарий. Первыми бескаркасные сооружения начали строить российские военные, а уже спустя какое-то время метод стал популярен среди гражданских строителей.
                </p>
            </blockquote>

            <div class="info-box light gradient no-border mb-35px">
                <p class="middle-font-size remove-bottom">
                    Однако, высокая стоимость зарубежного оборудования для гофрирования арочных панелей ранее была значительным препятствием для быстрого продвижения данного метода строительства на российский рынок.
                </p>
            </div>

            <blockquote class="mb-35px">
                <p class="dark-black remove-bottom">
                    С разработкой и внедрением российских аналогов этих машин, цена изготовления и монтажа бескаркасных арочных конструкций существенно снизилась, что позволило успешно расширить внедрение этой технологии строительства на отечественном рынке.
                </p>
            </blockquote>

            <div class="align-center"><a href="{{ path('angary') }}#arochnye-angary-istoriya" class="button large colored">Вернуться в раздел</a></div>
        </div>
    </div>

{% endblock %}