{% extends 'base.html.twig' %}

{% block title %}New AngarCategory{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Create new AngarCategory</h1>

        {{ include('angar_category/_form.html.twig') }}

        <a class="btn btn-primary btn-sm" href="{{ path('angar_category_index') }}">Назад к списку</a>
    </div>

{% endblock %}
