{% extends 'base.html.twig' %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        {{ article.name }}
    </h1>
{% endblock %}
{% block content %}
    <div class="">
        <div class="col-sm-12">
            <p>
                {{ article.content|raw }}
            </p>

            <div class="align-center"><a href="{{ path('articles') }}" class="button large colored">Вернуться в раздел</a></div>
        </div>
    </div>

{% endblock %}
