{% extends 'base.html.twig' %}

{% block title %}Создание новой статьи{% endblock %}

{% block content %}
    <h1>Создание новой статьи</h1>

    {{ include('articles/_form.html.twig') }}

    <a href="{{ path('articles_index') }}">back to list</a>
{% endblock %}
