{% extends 'base.html.twig' %}

{% block title %}New PartnerService{% endblock %}

{% block body %}
    <h1>Create new PartnerService</h1>

    {{ include('partner_service/_form.html.twig') }}

    <a href="{{ path('partner_service_index') }}">back to list</a>
{% endblock %}
