{% extends 'base.html.twig' %}

{% block title %}Edit GalleryImage{% endblock %}

{% block content %}
    <div class="col-12">
        <h1>Edit GalleryImage</h1>

        {{ include('gallery_image/_form.html.twig', {'button_label': 'Обновить'}) }}

        <a class="btn btn-primary btn-sm mb-2" href="{{ path('gallery_image_index') }}">Назад к списку</a>

        {{ include('gallery_image/_delete_form.html.twig') }}
    </div>
{% endblock %}
