{% extends 'base.html.twig' %}

{% set bodyClass = 'spare-parts' %}

{% block title %}
    Запасные части
{% endblock %}

{% block h1 %}
    <h2 class="text-center bg-success text-white line-height-18 my-3">
        Запасные части
    </h2>
{% endblock %}

{% block content %}
    <div class="px-2">
        <a href="{{ path('spare_parts_show_all') }}" class="btn btn-primary">Показать все</a>
        <div class="form-group form-check-inline">
            <select class="form-control-sm" id="selectFilterTechs">
                <option value="0" disabled selected>Фильтровать по технике</option>
                {% for tech in techs %}
                    <option value="{{ tech.id }}">{{ tech.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="innerContent">
        {% block innerContent %}
            {{ innerContent|raw }}
        {% endblock %}
    </div>


{% endblock %}

