{% extends 'base.html.twig' %}

{% block title %}Создание нового адреса{% endblock %}
{% block h1 %}
    <h1 class="text-center bg-primary text-white line-height-18 my-3">
        Создание нового адреса
    </h1>
{% endblock %}

{% block styleSheets %}
    {{ parent() }}
    <style>
        body, input {
            color: #555;
            font-size: 14px;
            font-family: Helvetica, Arial, sans-serif;
        }

        input, button {
            outline: none;
        }

        .address {
            width: 400px;
            margin: 40px auto 0;
            padding: 40px 40px 20px;
            border: 2px solid #e1e1e1;
            background-color: #f7f7f7;
            box-shadow: rgba(0, 0, 0, 0.075) 1px 1px 5px;
        }

        .address h1 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            padding-bottom: 40px;
            text-align: center;
        }

        .field label {
            display: inline-block;
            width: 80px;
            vertical-align: middle;
        }

        .field {
            margin-bottom: 20px;
            padding: 0;
        }

        .field input {
            height: 2em;
            width: 295px;
            border: 1px solid #d8d8d8;
            padding: 0 7px;
            color: #666;
        }

        .tooltip {
            position: absolute;
            top: 16px;
            left: 360px;
            width: 120px;
            color: #b94a48;
            padding: 8px 10px;
            border-radius: 5px;
            border: 1px solid #eed3d7;
            background-color: #f2dede;
            opacity: 0.8;
        }

        .tooltip b {
            position: absolute;
            display: block;
            left: -14px;
            width: 0;
            height: 0;
            color: transparent;
            border: 7px solid;
            border-right-color: #f2dede;
        }
        /* Устанавливаем свой шрифт для выпадающего списка*/
        #kladr_autocomplete a,
        #kladr_autocomplete strong{
            font-family: MuseoSansCyrl, Arial, Helvetica, sans-serif;
            font-size: 15px;
        }

        #kladr_autocomplete small {
            font-family: MuseoSansCyrl, Arial, Helvetica, sans-serif;
            font-size: 13px;
        }

        /* Добавляем скругления и тень у выпадающего списка*/
        #kladr_autocomplete ul {
            border-radius: 0 0 5px 5px;
            border: 1px solid #ded7f9;
            overflow: hidden;
            background: #fff;
            -webkit-box-shadow: 0 2px 10px 0 rgba(86, 62, 142, 0.1);
            box-shadow: 0 2px 10px 0 rgba(86, 62, 142, 0.1);
            z-index: 1;
        }

        /* Прописываем стили для тултипа с сообщением об ошибке*/
        .tooltip {
            position: absolute;
            top: 16px;
            left: 360px;
            color: #b94a48;
            padding: 8px 10px;
            border-radius: 5px;
            border: 1px solid #eed3d7;
            background-color: #f2dede;
            opacity: 0.8;
            font-size: 14px;
            z-index: 100000;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="col-12">
        <div class="mt-3 mb-3 address">
            {{ include('address/_form.html.twig') }}
        </div>

        <a class="btn btn-primary btn-sm" href="{{ path('address_index') }}">Назад в список</a>
    </div>

{% endblock %}
